// fuentes
$FuenteP:'Carter One', cursive;
$FuenteS:'Quattrocento Sans', sans-serif;
$FuenteExtra:'Ysabeau', sans-serif;

// colores

$Negro: #000;
$Blanco: #fff;
$AzulDan: #3174ad;
$AzulObs: #1a2877;